/*
 * File: .gitignore
 * Project: laughing-octo-disco
 * File Created: Thursday, 2nd April 2026 9:33:30 PM
 * Author: Yoofi Awotwi
 * Email: yoofi.awotwi@ashesi.edu.gh
 * Version: 1.0.0
 * Brief: <<brief>>
 * -----
 * Last Modified: Monday, 13th April 2026 11:11:14 PM
 * Modified By: Yoofi Awotwi
 * -----
 * Copyright ©2026 Yoofi Awotwi
 */
